In [9]:
print("jupyter rocks")

jupyter rocks

In [10]:
import pandas as pd
import numpy as np
# import rpy2
import pyspark

import warnings
warnings.filterwarnings('ignore')

In [11]:
df = pd.DataFrame(data=np.array([[1,2,3], [4,5,6]], dtype=int), columns=['A', 'B', 'C'])

In [12]:
print (df)

   A  B  C
0  1  2  3
1  4  5  6

In [13]:

#%load_ext sql
#%load_ext cython
#%load_ext rpy2.ipython

In [14]:
# Make a pandas DataFrame
df2 = pd.DataFrame({'Alphabet': ['a', 'b', 'c', 'd','e', 'f', 'g', 'h','i'],
                   'A': [4, 3, 5, 2, 1, 7, 7, 5, 9],
                   'B': [0, 4, 3, 6, 7, 10, 11, 9, 13],
                   'C': [1, 2, 3, 1, 2, 3, 1, 2, 3]})

In [15]:
print(df2)

  Alphabet  A   B  C
0        a  4   0  1
1        b  3   4  2
2        c  5   3  3
3        d  2   6  1
4        e  1   7  2
5        f  7  10  3
6        g  7  11  1
7        h  5   9  2
8        i  9  13  3