In [1]:
import re
import os
import sys
import boto3 as bt3
import s3fs
import pandas as pd

In [13]:
purchase_df1 = pd.read_csv("data/new_purchases.csv", index_col=0)
purchase_df1.head(5)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [9]:
# Create Pandas DataFrame
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
new_purchases = pd.DataFrame(data)
new_purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [10]:
# Add Index to DataFrame
new_purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
new_purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [11]:
# Export data to file
new_purchases.to_csv('data/new_purchases.csv')
new_purchases.to_json('data/new_purchases.json')